<a href="https://colab.research.google.com/github/vikasvr1997/Python_Examples_for_Learing/blob/main/Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Working with Lists

In [36]:
data = [1,11,25,31,29,41,51,41]

Sorting Algorithm using 2 for loops

data_copy = data[:]

for i in range(len(data_copy)):-> first for loop says to go through the entire loop

here the second loop acts such a way that each element is compared with next element and is swapped when first element is greater than second, changing the sign changes it ti accending to decending order

Reason we are using the -1 in the loop is when going htrough list list exceeds the no of elements in it and shows error so in order to see that the last element dosent exceed the len of limit we keep -1 after len()-i

And we are using the value i as we go through the list for sorting the largest number is at the end and after going for another iteration we should ignore 51 and go with other elements for sorting

**Bubble SORT**

In [6]:
data_copy = data[:]
print(len(data_copy))
for i in range(len(data_copy)):
  for j in range(0,len(data_copy)-i-1):
    if data_copy[j] > data_copy[j+1]:
      data_copy[j],data_copy[j+1] = data_copy[j+1],data_copy[j]
print(data_copy)

8
[1, 11, 25, 29, 31, 41, 41, 51]

Instead we use pythons sorting function

print(sorted(data))

In [7]:
x = sorted(data)
print(x)

[1, 11, 25, 29, 31, 41, 41, 51]

Some common list methods

In [37]:
my_List = [23,54,36,48]

In [16]:
#print(my_List.append(100))
print(my_List)
my_List.remove(100)
print(my_List)

[23, 54, 36, 48, 100, 100]
[23, 54, 36, 48, 100]

all other available methods for lists are append,copy,clear,count,extend,index,insert,pop,remove,reverse,

In [17]:
my_List.reverse()
print(my_List)

[100, 48, 36, 54, 23]

In [18]:
my_List.extend([67,78,98,120])
print(my_List)

[100, 48, 36, 54, 23, 67, 78, 98, 120]

In [19]:
print(my_List.index(78))#provides the index of number

6

In [30]:
list_live = [27,48]
print(my_List.copy())
my_List.append(list_live)
print(my_List)

[100, 48, 36, 54, 23, 67, 78, 98, 120, [27], [27, 48], [27, 48], (27, 48)]
[100, 48, 36, 54, 23, 67, 78, 98, 120, [27], [27, 48], [27, 48], (27, 48), [27, 48]]

In [35]:
print(my_List.pop(2))# pop pops out one number from the lists
print(my_List)

78
[100, 48, 98, 120, [27], [27, 48], [27, 48], (27, 48), [27, 48]]

**While Loop **
Excercise file

here the user input takes only positive ages and goes on asking for input until negative value is used

In [38]:
user_input = int(input('Please enter ages of class member. Type -1 to end:>'))
ages = []
while user_input > 0:
    ages.append(user_input)
    user_input = int(input('The next age:>'))
print('The ages are',ages)

Please enter ages of class member. Type -1 to end:>2
The next age:>4
The next age:>5
The next age:>6
The next age:>12
The next age:>6
The next age:>9
The next age:>-1
The ages are [2, 4, 5, 6, 12, 6, 9]

Here we are using a counter"count = 0"

In [43]:
#Put a counter in a while loop

count = 0
class_names = []
name = input('Please enter name type \"stop\" to stop:> ')
while name != 'stop':
    count +=1
    class_names.append(name)
    print(f'{name} has been added.')#here we use f(format function) which is the string given and it is given to "{name}" same for integers and we can try operations on these
    name = input('Next name?:> ')
    
    
print(f'There are {count} people in the class, they are {class_names}' )

Please enter name type "stop" to stop:> vikas
vikas has been added.
Next name?:> ddy
ddy has been added.
Next name?:> mahsh
mahsh has been added.
Next name?:> stop
There are 3 people in the class, they are ['vikas', 'ddy', 'mahsh']

# Modulus

modulus gives the remainder of the division of a number

In [45]:
var1= 21
var2= 43
var2 % var1

1

FizzBuzz Challenge
if num%3 then Fizz, if by 5 then Buzz and if divided by both then FizzBuzz

In [52]:
n = 100
for i in range(1,n+1):
  if i % 3 == 0 and i % 5 ==0:
    print(i,'= Fizzbuzz',end =",  ")
  elif i % 5:
    print(i,"= Buzz", end=",  ")
  elif i % 3 == 0:
    print(i,"= FIZZ",end = ",  ")
  else :
    print(i)

1 = Buzz,  2 = Buzz,  3 = Buzz,  4 = Buzz,  5
6 = Buzz,  7 = Buzz,  8 = Buzz,  9 = Buzz,  10
11 = Buzz,  12 = Buzz,  13 = Buzz,  14 = Buzz,  15 = Fizzbuzz,  16 = Buzz,  17 = Buzz,  18 = Buzz,  19 = Buzz,  20
21 = Buzz,  22 = Buzz,  23 = Buzz,  24 = Buzz,  25
26 = Buzz,  27 = Buzz,  28 = Buzz,  29 = Buzz,  30 = Fizzbuzz,  31 = Buzz,  32 = Buzz,  33 = Buzz,  34 = Buzz,  35
36 = Buzz,  37 = Buzz,  38 = Buzz,  39 = Buzz,  40
41 = Buzz,  42 = Buzz,  43 = Buzz,  44 = Buzz,  45 = Fizzbuzz,  46 = Buzz,  47 = Buzz,  48 = Buzz,  49 = Buzz,  50
51 = Buzz,  52 = Buzz,  53 = Buzz,  54 = Buzz,  55
56 = Buzz,  57 = Buzz,  58 = Buzz,  59 = Buzz,  60 = Fizzbuzz,  61 = Buzz,  62 = Buzz,  63 = Buzz,  64 = Buzz,  65
66 = Buzz,  67 = Buzz,  68 = Buzz,  69 = Buzz,  70
71 = Buzz,  72 = Buzz,  73 = Buzz,  74 = Buzz,  75 = Fizzbuzz,  76 = Buzz,  77 = Buzz,  78 = Buzz,  79 = Buzz,  80
81 = Buzz,  82 = Buzz,  83 = Buzz,  84 = Buzz,  85
86 = Buzz,  87 = Buzz,  88 = Buzz,  89 = Buzz,  90 = Fizzbuzz,  91 = Buzz,  92 = Buzz,  93 = Buzz,  94 = Buzz,  95
96 = Buzz,  97 = Buzz,  98 = Buzz,  99 = Buzz,  100

above numbers are in order if you wont follow order then the below sequence happens

In [56]:
n = 100
for i in range(1,n+1):
  if i % 3 == 0:
    print(i,"= FIZZ",end = ",  ") 
  elif i % 5 == 0:
    print(i,"= Buzz", end=",  ")
  elif i % 3 == 0 and i % 5 == 0:
    print(i,'= Fizzbuzz',end =",  ")
  else :
    print(i)

1
2
3 = FIZZ,  4
5 = Buzz,  6 = FIZZ,  7
8
9 = FIZZ,  10 = Buzz,  11
12 = FIZZ,  13
14
15 = FIZZ,  16
17
18 = FIZZ,  19
20 = Buzz,  21 = FIZZ,  22
23
24 = FIZZ,  25 = Buzz,  26
27 = FIZZ,  28
29
30 = FIZZ,  31
32
33 = FIZZ,  34
35 = Buzz,  36 = FIZZ,  37
38
39 = FIZZ,  40 = Buzz,  41
42 = FIZZ,  43
44
45 = FIZZ,  46
47
48 = FIZZ,  49
50 = Buzz,  51 = FIZZ,  52
53
54 = FIZZ,  55 = Buzz,  56
57 = FIZZ,  58
59
60 = FIZZ,  61
62
63 = FIZZ,  64
65 = Buzz,  66 = FIZZ,  67
68
69 = FIZZ,  70 = Buzz,  71
72 = FIZZ,  73
74
75 = FIZZ,  76
77
78 = FIZZ,  79
80 = Buzz,  81 = FIZZ,  82
83
84 = FIZZ,  85 = Buzz,  86
87 = FIZZ,  88
89
90 = FIZZ,  91
92
93 = FIZZ,  94
95 = Buzz,  96 = FIZZ,  97
98
99 = FIZZ,  100 = Buzz,

In [57]:
print(list(range(0,11,2)))

[0, 2, 4, 6, 8, 10]