<a href="https://colab.research.google.com/github/vikasvr1997/Python_Examples_for_Learing/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
user_input = input('Please enter a number type exit to stop:> ')
numbers = []
while user_input.lower() != 'exit':
    while not user_input.isdigit():
        print('That is not a number! Numbers only please:> ')
        user_input = input('Try again:> ')
    numbers.append(int(user_input))
    user_input = input('Please enter next number:> ')
total = 0
for number in numbers:
    total += number

print(f'Mean is {total/len(numbers)}')    #print(sum(numbers)/len(numbers))

Please enter a number type exit to stop:> 5
Please enter next number:> 6
Please enter next number:> 8
Please enter next number:> 12
Please enter next number:> 24
Please enter next number:> exit
Mean is 11.0

In [2]:
user_Input = input('please enternthe number  or Type \"exit\" to stop the input ')
numbers = []
while user_Input.lower() != 'exit':
  while not user_Input.isdigit():
    print("that is not number! please enter numbers only")
    user_Input = input('Try again:>')
  numbers.append(int(user_Input))
  user_Input = input('Please enter the number :>')
total = 0
for number in numbers:
  total +=number
print(f"Mean is {total/len(numbers)}")

please enternthe number  or Type "exit" to stop the input 10
Please enter the number :>14
Please enter the number :>12
Please enter the number :>5
Please enter the number :>16
Please enter the number :>14
Please enter the number :>15
Please enter the number :>25
Please enter the number :>exit
Mean is 13.875

In [6]:
n= 50
a = 0
b = 1

fib_num = []

for i  in range(n):
  fib_num.append(a)
  a,b = b,a+b
print(f"the number is {n} and second number is {fib_num}")

the number is 50 and second number is [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169, 63245986, 102334155, 165580141, 267914296, 433494437, 701408733, 1134903170, 1836311903, 2971215073, 4807526976, 7778742049]

In [11]:
import math
import random
print(math.pi)
print(math.cos(0))
print(randint(1,100))

3.141592653589793
1.0

NameError: ignored

In [12]:
import random

In [13]:
print(random.randint(1,100))

46

#import math
#
##https://docs.python.org/3/library/math.html#module-math
#
#
#print(math.pi)
##
#print(math.cos(0))
##
#import random
#
#print(randint(1,100))
#

#print(random.randint(1,100))

# https://docs.python.org/3/library/random.html

#for i in range(100):
#    print(random.randint(1,100),end=' ')
#    
#import webbrowser
##
#webbrowser.open('https://docs.python.org/3/library/webbrowser.html')

In [14]:
import webbrowser
webbrowser.open('https://docs.python.org/3/library/webbrowser.html')

False

In [30]:
capitals = {'France':['Paris','london'],'Spain':'Madrid','United Kingdom':'London',
            'India':'New Delhi','United States':'Washington DC','Italy':'Rome',
            'Denmark':'Copenhagen','Germany':'[Berlin,london]','Greece':'Athens',
            'Bulgaria':'Sofia','Ireland':'Dublin','Mexico':'Mexico City'}#{'key : value'}# you can make a list to a dictionary by keeping list in value side

In [31]:

capitals.get('Germany')

'[Berlin,london]'

In [32]:
print(capitals)

{'France': ['Paris', 'london'], 'Spain': 'Madrid', 'United Kingdom': 'London', 'India': 'New Delhi', 'United States': 'Washington DC', 'Italy': 'Rome', 'Denmark': 'Copenhagen', 'Germany': '[Berlin,london]', 'Greece': 'Athens', 'Bulgaria': 'Sofia', 'Ireland': 'Dublin', 'Mexico': 'Mexico City'}

In [33]:
print(capitals.items())

dict_items([('France', ['Paris', 'london']), ('Spain', 'Madrid'), ('United Kingdom', 'London'), ('India', 'New Delhi'), ('United States', 'Washington DC'), ('Italy', 'Rome'), ('Denmark', 'Copenhagen'), ('Germany', '[Berlin,london]'), ('Greece', 'Athens'), ('Bulgaria', 'Sofia'), ('Ireland', 'Dublin'), ('Mexico', 'Mexico City')])